.button {
    padding: 5px 20px !important;
    font-weight: 500 !important;
}

.contractButtonAddition {
    background-color: transparent !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    box-shadow: none !important;
}