.promptAreaContainer {
  display: flex;
  justify-content: center;
  width: 99vw;
  margin-bottom: 10rem;
}

.buttonFixedSizeCopyRepo {
  width: 158px;
}

.button {
  padding: 5px 20px !important;
  font-weight: 500 !important;
}

.buttonGreen {
  font-weight: 600 !important;
}

.promtText {
  font-weight: 700;
  color: rgb(88, 105, 110);
}

.textAreaData {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 30px 13px 30px;
}

.buttonsContainer {
  display: flex;
  gap: 20px;
}

.selectFrontendOptions {
  span {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.idlName {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0;
  font-weight: 600;
}

.contractButtonsAdditionContainer {
  display: flex;
  justify-content: end;
  margin-top: 10px;
  margin-right: 10px;
  gap: 20px;
}
