.mediumInfoCard {
  display: flex;
  flex-direction: column;
  grid-row-start: 2;
  min-height: 14rem;
  padding: 35px;
  gap: 15px;

  .mediumCardTitle {
    font-size: 18px;
    font-weight: 700;
  }
}

.mediumCardDataContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.dotsBackground {
  background-image: url("../../../../public/images/backgrounds/medium-card-background-first.svg");
  background-position: center;
}

.linesBackground {
  background-image: url('@public/images/backgrounds/medium-card-background-second.svg');
  background-repeat: no-repeat;
  background-position: right;
}
