body {
  font-family: 'Geist', sans-serif !important;
  font-variant-numeric: lining-nums proportional-nums;

  @supports not (font-variation-settings: 'wdth' 115) {
    & {
      font-family: 'Geist-Fallback', sans-serif;
    }
  }

  &.modal-open {
    overflow-y: hidden;
  }
}
