.container {
    display: flex;
    color: white;
    padding: 85px 0;
    gap: 160px;

    .subtitle {
        font-size: 50px;
        font-weight: 700;
        padding: 0;
        margin: 0;
        width: 500px;
    }
    
    .description {
        font-size: 15px;
    }
}

.subcontainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 100%;
}

.buttonsContainer {
    display: flex;
    width: 100%;
    margin-top: 20px;
    gap: 30px;
}

.button {
    padding: 5px 50px !important;
}

.logoContainer {
    $size: 18px;
    width: $size;
    height: $size;
}

.gihubLogo {
    $logoSize: 100%;
    width: $logoSize;
    height: $logoSize;
    padding: 0;
    margin: 0;
}