.questionInfoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10rem;
    gap: 2rem;
}

.titleQuestion {
    font-size: 2.5rem; /* Tamaño de fuente */
    font-weight: bold; /* Negrita */
    background: rgb(0,0,0);
    background: -moz-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(17,228,164,1) 17%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(17,228,164,1) 17%, rgba(0,0,0,1) 100%);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(17,228,164,1) 17%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
    background-clip: text;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    color: transparent; 
    display: inline-block; 
}

.questionInfo {
    color: #58696E;
    max-width: 44rem;
    text-align: center;
}