.footer {
    padding: 35px 10rem;
    background-color: rgb(20, 20, 20);
    clip-path: polygon(72% 5%, 100% 0, 100% 100%, 0 100%, 0 0);
}

.link{
    color: #FFF;
}

.dataContainer {
    display: flex;
    justify-content: space-between;
}

.linksContainer {
    display: flex;
    font-size: 16px;
    gap: 3rem;
}

.iconsLinksContainer {
    display: flex;
    gap: 1.5rem;

    .icon > * {
        cursor: pointer !important;
    }
}

.gearInfo {
    color: rgb(130, 139, 142);
    font-size: small;
    margin-top: 30px;
}
